<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
    {% section 'static-image-with-text-overlay' %}
    {% section 'static-featured-text' %}
    {% section 'static-image-text' %}
    {% section 'static-image-text-2' %}
</div>